@import './stylesheets/_bourbon.scss';
@import './variables.scss';
@mixin width($number) {
    width:$number#{'%'};
}
%reset {
    padding :0;
    margin :0;
}
%middle {
    display:flex;
    justify-content:center;
    align-items:center;
}
%list {
    display:flex;
    flex-direction:column;
}
%row {
    display :flex;
    flex-direction:row;
}