$headerBackground :#FFFFFF;
$textHoverColor :#42B4CB;
$logoBackground :#64686C;
$primaryButtonColor:#23BCD6;
$sidebarBackgroundColor :#3D4246;
$mainBackgroundColor :#F1F5F6;
$infoBackgroundColor :#FFFFFF;
$headerHigh: 70px;
$textPrimaryColor :#FFFFFF;
$textUnimportantColor:#D7D8DA;