html, body, .main .header, .main .header .title, .main header middle .listMenu, .main header .content .info .listMenu, .main .content header .info .listMenu, .main .content .info *, .main .content .info .social .mainSocial .detail p {
  padding: 0;
  margin: 0; }

.main .header, .main .content .info .social .mainSocial, middle, .main .content .info, .middle {
  display: flex;
  justify-content: center;
  align-items: center; }

.main .header, .main .content .info, .main .content .info .contact {
  display: flex;
  flex-direction: column; }

.flex, .list, .main .content .info .social .mainSocial, autofull {
  display: flex;
  flex-direction: row; }

html, body {
  font-family: 'Roboto', sans-serif; }

.main {
  flex: 1;
  width: 70%; }
  .main .header {
    width: 100%;
    background: #F1F5F6; }
    .main .header .title {
      font-size: 25px;
      color: #fff; }
  .main header {
    min-height: 70px;
    background: #FFFFFF; }
    .main header middle, .main header .content .info, .main .content header .info {
      min-height: 70px;
      padding: 0 30px; }
      .main header middle .listMenu, .main header .content .info .listMenu, .main .content header .info .listMenu {
        list-style: none; }
  .main .content {
    padding: 50px;
    background: #F1F5F6; }
    .main .content .info {
      line-height: 1.4;
      padding: 5px;
      max-width: 400px;
      background: #FFFFFF; }
      .main .content .info .avatar {
        max-width: 200px;
        height: auto; }
      .main .content .info .title {
        color: #42B4CB; }
      .main .content .info .profession {
        color: #D7D8DA; }
      .main .content .info .contact {
        margin-top: 20px; }
        .main .content .info .contact a {
          margin: 5px 0;
          cursor: pointer;
          padding: 10px;
          border-radius: 50px;
          line-height: 1.4; }
          .main .content .info .contact a.hireMe {
            background: #23BCD6;
            color: #FFFFFF;
            text-align: center; }
          .main .content .info .contact a.sendMessage {
            padding: 7px 9px;
            background: transparent;
            color: #42B4CB;
            border: #42B4CB 2px solid; }
      .main .content .info .social {
        margin-top: 20px;
        width: 100%; }
        .main .content .info .social .mainSocial {
          padding: 0 30px;
          justify-content: space-between; }
          .main .content .info .social .mainSocial i {
            color: #D7D8DA;
            font-size: 25px; }
          .main .content .info .social .mainSocial .detail {
            cursor: pointer;
            line-height: 1.2;
            margin-left: 10px; }
            .main .content .info .social .mainSocial .detail .socialName {
              color: #D7D8DA;
              font-size: 12px; }
            .main .content .info .social .mainSocial .detail .socialValue {
              color: #42B4CB;
              font-size: 14px; }

.sidebar {
  width: 300px;
  background: #3D4246; }

.list {
  flex-direction: column; }

autofull {
  flex: 1; }

/*# sourceMappingURL=hack.css.map */
