@import './css/deverpham.scss';
html,body {
    @extend %reset;
   font-family: 'Roboto', sans-serif;
}
.flex {
    @extend %row;
}
.main {
    flex:1;
    width:70%;
    .header {
    @include width(100);
    background:$mainBackgroundColor;
    @extend %middle;
    @extend %reset;
    @extend %list;
    .title {
       font-size: 25px;
       @extend %reset;
       color :#fff;
        }
    }
    header {
        min-height:$headerHigh;
        background :$headerBackground;
        middle {
            min-height:$headerHigh;
            padding:0 30px;
                .listMenu {
                @extend %reset;
                list-style:none;
            }
        }
    }
    .content  {
        padding:50px;
        background :$mainBackgroundColor;
        .info {
            
            line-height:1.4;
            padding:5px;
            @extend middle;
            max-width:400px;
            background :$infoBackgroundColor;
            @extend %list;
            .avatar {
                max-width:200px;
                height:auto;
            }
            * {
                @extend %reset;
            }
            .title {
                    color :$textHoverColor;
                }
            .profession {
                color:$textUnimportantColor;
            }
            .contact {
                margin-top:20px;
                @extend %list;
                a {
                     margin:5px 0;
                    cursor:pointer;
                    padding:10px;
                    border-radius:50px;
                    
                    line-height:1.4;
                    &.hireMe {
                       
                        background :$primaryButtonColor;
                        color :$textPrimaryColor;
                        text-align:center;
                    }
                    &.sendMessage {
                        padding:7px 9px;
                        background :transparent;
                        color :$textHoverColor;
                        border:$textHoverColor 2px solid;
                    }
                }
            }
            .social {
                
                margin-top:20px;
                width:100%;
                .mainSocial {
                    padding :0 30px;
                    @extend %middle;
                    @extend %row;
                    justify-content:space-between;
                    i {
                        color:$textUnimportantColor;
                        font-size:25px;
                    }
                    .detail {
                        cursor:pointer;
                        line-height:1.2;
                        margin-left:10px;
                        .socialName {
                            color:$textUnimportantColor;
                            font-size:12px;
                        }
                        p {
                            @extend  %reset;
                    
                    
                        }
                        .socialValue {
                            color:$textHoverColor;
                            font-size:14px;
                        }
                    }
                }
                .listSocial {
                    margin-top:20px;
                    padding :0 30px;
                    ul {
                        list-style:none;
                        li {
                            @extend %row;
                            align-items:center;
                            p,i {
                                color:$textUnimportantColor;
                            }
                            p {
                                margin-left:10px;
                            }
                        }
                    }
                }
            }

        }
    }
}
.sidebar {
    width:300px;
    background: $sidebarBackgroundColor;
}
middle {
    @extend %middle;
}
.middle {
    @extend %middle;
}
.list {
    @extend .flex;
    flex-direction:column;
}
autofull {
    @extend %row;
    flex:1;
}